<footer class="bg-main">
  <div class="container-fluid py-5">
    <div class="row gy-5 py-5">
      <div class="col-12 col-md-4 text-center text-white">
        <h3>LOCATION</h3>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
      </div>
      <div class="col-12 col-md-4 text-center text-white">
        <h2>AROUND THE WEB</h2>
        <div class="d-flex justify-content-center gap-3">
          <i class="fab fa-facebook-f icon rounded-circle bg-transparent border border-white d-flex justify-content-center align-items-center"></i>
          <i class="fab fa-twitter icon rounded-circle bg-transparent border border-white d-flex justify-content-center align-items-center"></i>
          <i class="fab fa-linkedin-in icon rounded-circle bg-transparent border border-white d-flex justify-content-center align-items-center"></i>
          <i class="fas fa-globe icon rounded-circle bg-transparent border border-white d-flex justify-content-center align-items-center"></i>
        </div>
      </div>
      <div class="col-12 col-md-4 text-center text-white">
        <h2>ABOUT FREELANCER</h2>
        <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
      </div>
    </div>
  </div>
  <div class="text-white bg-dark bg-opacity-75 m-0 p-4 text-center">Copyright © Your Website 2021</div>
</footer>