<div class="vh-100 py-5 bg-second">
  <div class="container text-white d-flex justify-content-center align-items-center h-100">
    <div class="text-center">
      <img src="assets/avataaars.svg" class="w-75 mb-3" alt="">
      <h1>START FRAMEWORK</h1>
      <div class="line d-flex justify-content-center align-items-center mb-4">
        <div class="me-3"></div>
        <i class="fas fa-star"></i>
        <div class="ms-3"></div>
      </div>
      <p>Graphic Artist - Web Designer - Illustrator</p>
    </div>
  </div>
</div> 