<body class="py-5 vh-100 bg-second">
  <div class="container vh-100 py-5 d-flex justify-content-center align-items-center">
    <div class="content text-white">
      <h1 class="fw-bolder text-center">ABOUT COMPONENT</h1>
      <div class="line d-flex justify-content-center align-items-center mb-4">
        <div class="me-3"></div>
        <i class="fas fa-star"></i>
        <div class="ms-3"></div>
      </div>
      <div class="text row">
        <p class="col-12 col-md-6">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        <p class="col-12 col-md-6">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
      </div>
    </div>
  </div>
</body>