<div class="py-5 form">
  <div class="container">
    <div class="name">
      <label for="userName">user name</label>
      <input type="text" name="UserName" id="userName" placeholder="user name">
    </div>
    <div class="age">
      <label for="userAge">user age</label>
      <input type="number" name="UserAge" id="userAge" placeholder="user age">
    </div>
    <div class="email">
      <label for="userEmail">user age</label>
      <input type="email" name="userEmail" id="userEmail" placeholder="user Email">
    </div>
    <div class="pass">
      <label for="password">user age</label>
      <input type="password" name="password" id="password" placeholder="password">
    </div>
    <div class="text-start mx-auto button">
      <button class="rounded text-white border-0 px-3 py-2">supmit</button>
    </div>
  </div>
</div>