<nav class="navbar navbar-expand-lg bg-main navbar-dark fixed-top p-30">
  <div class="container">
    <a class="navbar-brand fs-3 fw-bolder" href="#">START FRAMEWORK</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="text-white text-decoration-none mx-3 fw-bolder cur-pointer" routerLink="about" routerLinkActive="run">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="text-white text-decoration-none mx-3 fw-bolder cur-pointer" routerLink="portfolio" routerLinkActive="run">PORTFOLIO</a>
        </li>
        <li class="nav-item">
          <a class="text-white text-decoration-none mx-3 fw-bolder cur-pointer" routerLink="contact" routerLinkActive="run">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>